# Ignorar la carpeta wiki
wiki/
**/.DS_Store
*.tex
*.aux
*.log
*.auxlock
*.out
*.gz
*.pdf
*.nav
*.toc
*.snm
*.synctex
*.dpth
*.md5
Salud/MatematicasII-TecMed/reveal.html
Salud/MatematicasII-TecMed/remove-num.lua
Salud/MatematicasII-TecMed/license.png
Salud/MatematicasII-TecMed/license2.png
desktop.ini
favicon_io.zip
