body {
    counter-reset: example-counter;
    counter-reset: exercise-counter;
    counter-reset: def-counter;
    counter-reset: thm-counter;
}

.frame{
    text-align: left;
    padding: 10px;
}

.example, .example-small, .example-medium, .examples, .exercise, .exercises, .definition, .theorem, .remark, .solution, .solution-small, .solution-medium, .solution-full, .block, .fact, .proof {
    display: inline-block;
    position: relative;
    width: 95%;
    padding: 10px 15px;
    margin-bottom: 10px; /* Add spacing between examples */
    background-color: #f0f0f0; /* Light blue background */
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #ccc; /* Optional: border for better definition */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.solution {
    height: 400px;
}

.solution-small, .example-small {
    height: 150px;
}

.solution-medium, .example-medium {
    height: 250px;
}

.example ol li, .examples ol li, .exsercise ol li, .exercises ol li{
    margin-bottom: 10mm;
}
    
.example::before, .example-medium::before, .example-small::before {
    content: "Ejemplo. ";
    /*
    content: "Ejemplo " counter(example-counter) ". ";
    counter-increment: example-counter;
    */
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #1D71B8;
    padding: 5px 10px;
    border-radius: 8px;
}

.examples::before {
    content: "Ejemplos. ";
    /*
    content: "Ejemplo " counter(example-counter) ". ";
    counter-increment: example-counter;
    */
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #1D71B8;
    padding: 5px 10px;
    border-radius: 8px;
}

.exercise::before {
    content: "Ejercicio. ";
    /*
    content: "Ejercicio " counter(exercise-counter) ". ";
    counter-increment: exercise-counter;
    */
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #2C3E50;
    padding: 5px 10px;
    border-radius: 8px;
}

.exercises::before {
    content: "Ejercicios. ";
    /*
    content: "Ejercicio " counter(exercise-counter) ". ";
    counter-increment: exercise-counter;
    */
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #2C3E50;
    padding: 5px 10px;
    border-radius: 8px;
}

.definition::before {
    content: "Definición. ";
    /*
    content: "Definición " counter(def-counter) ". ";
    counter-increment: def-counter;
    */
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #F28C28;
    padding: 5px 10px;
    border-radius: 8px;
}

.fact::before {
    content: "Propiedades. ";
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #D72638;
    padding: 5px 10px;
    border-radius: 8px;
}

.theorem::before {
    content: "Teorema. ";
    /*
    content: "Teorema " counter(thm-counter) ". ";
    counter-increment: thm-counter;
    */
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #D72638;
    padding: 5px 10px;
    border-radius: 8px;
}

.solution::before, .solution-small::before, .solution-medium::before, .solution-full::before {
    content: "Solución. "; /* Add "Solución. " */
    font-weight: bold;
    color: #333;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #1D71B8;
    padding: 5px 10px;
    border-radius: 8px;
}

.remark::before {
    content: "Observación. "; /* Add "Observación. " */
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    padding: 5px 10px;
    border-radius: 8px;
}

.proof::before {
    content: "Demostración. ";
    font-weight: bold;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #999;
    padding: 5px 10px;
    border-radius: 8px;
}

ol.two-columns, ul.two-columns {
  column-count: 2; /* Divide la lista en 2 columnas */
  column-gap: 20px; /* Espacio entre las columnas */
  list-style-position: inside; /* Asegura que los números o viñetas estén alineados */
  padding-left: 0; /* Elimina el padding por defecto de la lista */
}

:root {
  --r-main-font-size: 21px;
}
